<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
          <img src="../../assets/images/etf_logo.png" width="50px" height="50px" alt="ETF">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Početna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/zaposleni">Zaposleni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/obavestenja">Obaveštenja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/osnovneStudije">Osnovne studije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/masterStudije">Master studije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projekti">Projekti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nauka">Nauka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kontakt">Kontakt</a>
          </li>
          <li *ngIf='korisnik != null' class="nav-item">
            <a class="nav-link">Odjava</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
