<div *ngIf='korisnik != null' class="col-sm-12">
    <button (click)='odjava()'>Odjava</button>
</div>
<br>

<h5><b>Ponude katedre za izradu radova:</b></h5>
<br>
<table>
    <tr>
        <td>
            2020-06-05
        </td>
    </tr>
    <tr>
        <td>
            <b>Tema:</b> Mobilna aplikacija za praćenje informacija o poridičnom stablu
        </td>
    </tr>
    <tr>
        <td>
            <b>Oblast:</b> Programiranje mobilnih uređaja
        </td>
    </tr>
    <tr>
        <td>
            <b>Kontakt:</b> dr Zaharije Radivojević, vanredni profesor
        </td>
    </tr>
    <tr>
        <td>
            Potrebno je realizovati mobilnu aplikaciju koja korisnicima omogućava unos podata o porodičnom stablu. Osoba preko mobilnog uređaja unosi podatke kojie se odnose na osobe. Ti podaci sadrže testualne tapise, slike video zapise. Aplikacija treba da omogući povezivanje osoba, grupa osoba, događaja i mesta. Zapisi se mogu pratiti u vidu vremenske ose ili u vidu stabla. Aplikacija podatke može čuvati lokalno i na internetu. Moguće je spajati zapise koje su unosili različite osobe. Moguće je pretraživati sadržaj po različitim kriterijumima.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            2020-01-23
        </td>
    </tr>
    <tr>
        <td>
            <b>Tema:</b> Implementacija elektronskog vodiča za reagovanje u vanrednim situacijama
        </td>
    </tr>
    <tr>
        <td>
            <b>Oblast:</b> Programiranje, baze podataka
        </td>
    </tr>
    <tr>
        <td>
            <b>Kontakt:</b> dr Marko Mišić, docent
        </td>
    </tr>
    <tr>
        <td>
            Implementacija aplikacije koja će predstavljati elektronsku verziju vodiča za reagovanje u vanrednim situacijama sa opasnim materijama. Implementacija veb ili desktop verzije.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            2020-01-23
        </td>
    </tr>
    <tr>
        <td>
            <b>Tema:</b> Prepoznavanje ADR oznaka korišćenjem tehnika mašinskog učenja
        </td>
    </tr>
    <tr>
        <td>
            <b>Oblast:</b> Veštačka inteligencija, mašinsko učenje, računarska vizija
        </td>
    </tr>
    <tr>
        <td>
            <b>Kontakt:</b> dr Marko Mišić, docent
        </td>
    </tr>
    <tr>
        <td>
            Opasne materije se drumskim putem mogu prevoziti samo ukoliko su na adekvatan način označene ADR ozankama (tablama) koje sadrže informacije o klasi opasnosti i opasnoj materiji koja se prevozi. U okviru rešenja je potrebno implementirati prepoznavanje ovih oznaka dogovorenom tehnikom mašinskog učenja (neuralne mreže, klasifikacija i sl.).
        </td>
    </tr>
    <br>
    <tr>
        <td>
            2020-01-23
        </td>
    </tr>
    <tr>
        <td>
            <b>Tema:</b> Implementacija simulacije Lengtonovog mrava
        </td>
    </tr>
    <tr>
        <td>
            <b>Oblast:</b> Algoritmi i strukture podataka, simulacija konačnih automata
        </td>
    </tr>
    <tr>
        <td>
            <b>Kontakt:</b> dr Marko Mišić, docent
        </td>
    </tr>
    <tr>
        <td>
            Implementacija desktop, mobilne ili veb simulacije poznatog problema Lengtonovog mrava u programskom okruženju po izboru. Različita pravila za ponašanje mrava.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            2020-01-23
        </td>
    </tr>
    <tr>
        <td>
            <b>Tema:</b> Analiza tehnika za optimizaciju petlji u okviru sekvencijalni i paralelnih programa
        </td>
    </tr>
    <tr>
        <td>
            <b>Oblast:</b> Paralelno programiranje, programski prevodioci
        </td>
    </tr>
    <tr>
        <td>
            <b>Kontakt:</b> dr Marko Mišić, docent
        </td>
    </tr>
    <tr>
        <td>
            Analiza i optimizacija cekvencijalnih i paralelnih programa korišćenjem poznatih tehnika za optimizaciju petlji: loop unrolling, loop fusion, loop fission, loop distribution, loop skewing, loop peeling, loop interchange i sl.
        </td>
    </tr>
</table>