<div *ngIf='korisnik != null' class="col-sm-12">
    <button (click)='odjava()'>Odjava</button>
</div>
<br>
<h5><b>Istraživanja:</b></h5>
<br>
<table>
    <tr>
        <td><a href="http://rti.etf.bg.ac.rs/rti/ebi/">EBI Group</a></td>
    </tr>
    <tr>
        <td><a href="http://rti.etf.bg.ac.rs/rti/acm/">ACM Group</a></td>
    </tr>
</table>
<br>

<h5><b>Projekti zaposlenih:</b></h5>
<br>
<table>
    <tr>
        <td>
            Razvoj hardverske, softverske i telekomunikacione infrastrukture e-sistema za kontrolu prometa i poreza
        </td>
    </tr>
    <tr>
        <td>
            <b>Tip projekta: </b>Nauka – tehnološki razvoj
        </td>
    </tr>
    <tr>
        <td>
            <b>Rukovodilac: </b>prof. dr Miroslav Bojović
        </td>
    </tr>
    <tr>
        <td>
            <b>Finansijer: </b>MINISTARSTVO ZA NAUKU I TEHNOLOŠKI RAZVOJ
        </td>
    </tr>
    <tr>
        <td>
            <b>Početak realizacije: </b>14.03.2011.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)
        </td>
    </tr>
    <tr>
        <td>
            <b>Tip projekta: </b>Projekti-Razvoj visokog obrazovanja
        </td>
    </tr>
    <tr>
        <td>
            <b>Rukovodilac: </b>doc. dr Dražen Drašković
        </td>
    </tr>
    <tr>
        <td>
            <b>Finansijer: </b>MINISTARSTVO PROSVETE, NAUKE I TEHNOLOŠKOG RAZVOJA
        </td>
    </tr>
    <tr>
        <td>
            <b>Početak realizacije: </b>14.10.2019.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            Information Security Services Education in Serbia
        </td>
    </tr>
    <tr>
        <td>
            <b>Tip projekta: </b>ERAZMUS + K2
        </td>
    </tr>
    <tr>
        <td>
            <b>Rukovodilac: </b>prof. dr Igor Tartalja
        </td>
    </tr>
    <tr>
        <td>
            <b>Finansijer: </b>UNIVERZITET U BEOGRADU
        </td>
    </tr>
    <tr>
        <td>
            <b>Početak realizacije: </b>14.02.2018.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            Razvoj servisa i bezbednosti Internet rutera visokog kapaciteta
        </td>
    </tr>
    <tr>
        <td>
            <b>Tip projekta: </b>Nauka – tehnološki razvoj
        </td>
    </tr>
    <tr>
        <td>
            <b>Rukovodilac: </b>prof. dr Aleksandra Smiljanić
        </td>
    </tr>
    <tr>
        <td>
            <b>Finansijer: </b>MINISTARSTVO ZA NAUKU I TEHNOLOŠKI RAZVOJ
        </td>
    </tr>
    <tr>
        <td>
            <b>Početak realizacije: </b>14.03.2011.
        </td>
    </tr>
    <br>
    <tr>
        <td>
            ADVANCING NOVEL TEXTUAL SIMILARITY -BASED SOLUTIONS IN SOFTWARE DEVELOPMENT (AVANTES)
        </td>
    </tr>
    <tr>
        <td>
            <b>Tip projekta: </b>Fond za nauku - AI
        </td>
    </tr>
    <tr>
        <td>
            <b>Rukovodilac: </b>prof. dr Boško Nikolić
        </td>
    </tr>
    <tr>
        <td>
            <b>Finansijer: </b>FOND ZA NAUKU REPUBLIKE SRBIJE
        </td>
    </tr>
    <tr>
        <td>
            <b>Početak realizacije: </b>02.09.2020.
        </td>
    </tr>
    <br>
</table>